// Define variables for your color scheme

// For example:
$red: #1A0B1C;
$light-green: #3B8514;
$blue: $light-green;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #194B16;
$gray: #0E0000;
$light-gray: #CCCCCC;
$white: #FFFFFF;
