html {
  width: 100%;
  margin:0;
  padding:0;
}

a {
  color: #3B8514;
}

a, a:link, a:focus, a:active{
  color: #3B8514;
  text-decoration:none;
  cursor: pointer;
}

a:hover{
  color: $green;
}

h2 {
  font-size:3rem;
}

h3 {
  font-size:2.5rem;
}

.container {
  padding-bottom: 50px;
}

.container a {
  color: $green;
}

.hidden {
  display: none;
}

.push-down {
  margin-top:1rem;
}

.x-small {
  font-size:10px;
}

.smaller {
  font-size:14px;
}

.invalid-feedback {
  color: red;
}

.light-gray {
  color: $light-gray;
}
.light-gray:hover {
  color: $light-green;
}
