html {
  width: 100%;
  margin:0;
  padding:0;
}

a {
  color: $light-green;
  font-weight:500;
  text-decoration:none;
}

a:focus, a:active, a:hover {
  color: $green;
  text-decoration:none;
  cursor: pointer;
}

h2 {
  font-size:3rem;
}

h3 {
  font-size:2.5rem;
}

.container {
  padding-bottom: 50px;
}

.container-banner {
  margin:0 auto;
}

.container-grow {
  width:75%;
  margin:0 auto;
}

.hidden {
  display: none;
}

.push-down {
  margin-top:1rem;
}

.x-small {
  font-size:10px;
}

.smaller {
  font-size:14px;
}

.invalid-feedback {
  color: red;
}

.light-gray {
  color: $light-gray;
}
.light-gray:hover {
  color: $light-green;
}
