html {
  width: 100%;
  margin:0;
  padding:0;
}

h2 {
  font-size:3rem;
}

h3 {
  font-size:2.5rem;
}

.container a {
  color: $green;
}

.hidden {
  display: none;
}

.posts-feed {
  width:60%;
  margin: 3.7rem auto;
}

.container, #map {
  margin-top: 3.7rem !important;
}

.container-profile {
  padding: 0 1rem;
}


@media (max-width: 600px) {
  .posts-feed {
    width:100%;
  }
}
