<div class="edit-form container">
  <div class=" form row justify-content-center">
    <div class="col-md-8">
      <h1>Edit your group here</h1>

      <%= render 'form' %>
      <br>
      <button><%= link_to "Delete", @group, method: :delete%></button>

    </div>
  </div>
</div>
