<div class="new-group ainer">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Add a new group </h1>

      <%= render 'form'  %>
    </div>
  </div>
</div>

<%= link_to "Groups", groups_path %>
