<div class="navbar w-100 nav-bottom">
  <ul class="navbar-nav flex-row flex-grow-1 justify-content-between">
    <li class="nav-item">
      <%= link_to likes_path, class: "nav-link" do %>
        <i class="fas fa-heart"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to map_path, class: "nav-link" do %>
        <i class="fas fa-map"></i>
      <% end %>
    </li>
    <li class="nav-item">
       <a><i class="far fa-plus-square nav-link" data-toggle="modal" data-target="#createPostModal"></i></a>
    </li>
    <li class="nav-item">
      <%= link_to groups_path, class: "nav-link" do %>
        <i class="fas fa-users"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to grows_path, class: "nav-link" do %>
        <i class="fas fa-seedling"></i>
      <% end %>
    </li>
  </ul>
</div>
