  <div class="banner comingsoon d-flex justify-content-center align-items-center flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'default_banner.jpeg' %>')">
    <h1>This website is under construction</h1>
    <h2>Share & connect with growers around you.</h2>
  </div>
