  <div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'default_banner.jpeg' %>')">
    <h1>Grown in Your Community</h1>
    <h2>Share & connect with growers around you.</h2>
  </div>


  <div class="container p-2">
    <div class="d-flex justify-content-center">
      <div class="card m-2 p-4">
        <h3>Connect With Growers</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="card m-2 p-4">
        <h3>Share Resources</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="card m-2 p-4">
        <h3>Support People & Planet</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>

  <div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'default_banner.jpeg' %>')">
    <h2>.</h2>
  </div>
