<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Create a Post", new_post_path %>

<br>

<% @posts.each do |post| %>
  <div class="card w-50">
    Post ID: <%= link_to post.id, post_path(post) %>
    Content: <%= post.content %>
    <% post.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
<% end %>
