<!-- Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="createPostLongTitle">Create a Post</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'posts/form', post: Post.new %>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    -->
    </div>
  </div>
</div>


<script>
  const grow_selector = document.getElementById("post_grow_id")

  if (grow_selector) {
    grow_selector.addEventListener("change", (event) => {
      const grow_id = grow_selector.value;

      if (document.querySelector('.post_plant')) {
        document.querySelector('.post_plant').remove();
      }
      if (grow_id != "") {
        Rails.ajax({
          url: `/grows/${grow_id}/plants`,
          type: "GET",
          success: function(data) {
            console.log(data.plants);
            if (data.plants[0]) {
              if (document.querySelector('.post_plant')) {
                document.querySelector('.post_plant').remove();
              }

              newElement = '<div class="form-group select optional post_plant">';
              newElement += '<select class="form-control select optional" name="post[plant_id]" id="post_plant_id">';
              newElement += '<option value="">Tag a Plant</option>';

              data.plants.forEach((plant) => {
                newElement += `<option value="${plant.id}">${plant.name}</option>`
              });

              newElement += '</select></div>';

              document.getElementById("place-for-plants-select").insertAdjacentHTML("beforeend", newElement);
            }
          }
        });
      }

    });
  }
</script>
