<div class="search">
      <%= form_tag posts_path, method: :get, class: 'form-inline d-flex justify-content-center' do %>
          <i class="fas fa-search"></i>
          <%= text_field_tag :query,
            params[:query],
            class: 'form-control',
            placeholder: "Looking for something?"
          %>
      <% end %>
</div>
