<%= render 'search' %>
<%= render 'filters' %>
<% render 'geo_filters' # currently not working %>

<div class="posts-feed">
  <%= render 'posts/display_posts', posts: @posts, comment: @comment %>
</div>
