<%= render 'search' %>
<%= render 'filters' %>

<div class="posts-feed">  
  <%= link_to "Following", posts_path(followed: true) %>
  <%= render 'posts/display_posts', posts: @posts, comment: @comment %>
</div>
