<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to "New post", new_post_path(@post), :class => "btn btn-primary" %>
<br>
<br>
<% @posts.each do |post| %>
  <li> <%= link_to post.content, post_path(post) %> </li>
<% end %>
<br>
<%= link_to 'Back', root_path, :class => "btn btn-primary"%>
