
.banner{
  height: 50vh;
  width: 100%;
  padding: 25px 0;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  }

  h2 {
    font-family: $body-font;
    font-size:32px;
  }

  p {
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  }
}

.banner-home {
  height: 70vh;
}

.comingsoon {
  height:100vh;
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .banner {
    height: 30vh !important;
  }
}
