// .banner{
//   height: 200px;
//   width: 100%;
//   padding: 25px 0;
// }

// .banner img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// img {
//   max-width: 100%;
//   height: auto;
// }

.banner-user {
  height: 40vh !important;
  background-size: cover;
  background-position: center;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 60vh !important;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .banner {
    height: 30vh !important;
  }
}
