.card-post-comment img {
  width:40px;
  height:40px;
}


.card-post-comment {
  color: rgba(0,0,0,0.4);
  line-height:1.2;
  font-size:0.9rem;
}

.card-post-comment-box {

  textarea {
    resize: none;
    height:40px;
    border-radius:3px 0 0 3px;
  }

  div {
    width:90%;
    float:left;
  }

  .comment-button {
    width:10%;
    height:40px;
    border-radius:0 3px 3px 0;
  }

}
