.navbar {
  padding: 0 1rem;
  z-index: 2;
  width: 100%;
  height:60px !important;
}

.navbar-fresh {
  justify-content: space-between;
  background: $green;
  top: 0;
}

.navbar-fresh i {
  color: $white;
}

.navbar-fresh .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color:white;
  margin-right:5rem;
  font-family: $headers-font;
  font-size:2.2rem;
  padding: 0;
}

.navbar-fresh :hover {
  color: white;
}

.top-bar-item {
  font-size:1.3rem;
}

.navbar-brand:active, .navbar-brand:hover {
  color: white;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-nav .dropdown-menu a {
  color: #3B8514;
}

.navbar-nav .dropdown-menu :hover, :active{
  color: $green;
}

.navbar-nav .dropdown-menu a {
  background-color: white;
}

.nav-bottom {
  position:fixed;
  bottom:0;
  background: $white;
  color: white;
  visibility: hidden;
  padding: 0.5rem 1rem;
  font-size:1.3rem;
  a { color: $green; }
}

.nav-link {
  cursor: pointer;
}

@media (max-width: 500px) {
  .nav-bottom {
    visibility: visible;
  }

  .top-bar-item {
    visibility:hidden;
  }
}

@media (max-width: 800px) {
  .navbar-brand {
    margin-right:2rem !important;
  }
}
