.navbar-fresh {
  justify-content: space-between;
  background: $green;
}

.navbar-fresh i {
  color: $white;
}

.navbar-fresh .navbar-collapse {
  flex-grow: 0;
}

.navbar-fresh .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin-right: 10rem;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}
