.search {

}

.filters a {
  color: $green;
  padding: 0.2rem 1rem;
  margin: 3px 3px 3px 3px;
  border: 1px solid $green;
  transition: 0.5s all;
  border-radius: $border-radius;

}

.filters a:hover {
  text-decoration: none;
  color: white;
  background-color: $green;
}
