.search {
  margin:10px;
  padding:0 0 0 5px;
  color: $light-gray;

  input {
    padding: 0 5px;
    border:none;
    color: $light-gray;
    width:50%;
  }

  input::placeholder {
    color:$light-gray;
  }
}

.filters a {
  color: $green;
  padding: 0.2rem 1rem;
  margin: 3px 3px 3px 3px;
  border: 1px solid $green;
  transition: 0.5s all;
  border-radius: $border-radius;

}

.filters a:hover {
  text-decoration: none;
  color: white;
  background-color: $green;
}

@media (max-width: 600px) {
  .search {
    width:100%;
    padding: 0 15px;
    input {
      width:90%;
    }
  }
}
